h1 {
    text-align: center;
    color: darkgoldenrod;
    font-family: Impact;
    font-size: 8vw;
    background: url(banner.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
}
/* Background image and responsive sizing */
body { 
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background: url(bg_gif.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* Menu Control Start */

#menu-button {
    text-align: center;
    color: white;
    font-family: Arial, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 8px;
    background-color: blue;
}

#menu-button:hover {
    background-color: white;
    color:blue;
}

.menu {
    margin-top: 5px;
    margin-left: 4px;
    position: relative;
    display: inline-block;
}

.menu-items a {
    color: white;
    background-color: aqua;
    display: block;
    padding: 5px;
}

.menu .menu-items {
    display: none;
    position: absolute;
    min-width: 150%;
}

.menu:hover .menu-items {
    display: block;
    padding: 15px;
}

.menu:hover .menu-items a:hover{
    background-color: white;
    color: aqua;
}

/* Menu Control End */

#cardBase {
    visibility: hidden;
    width: 40vw;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0;
    background-color: white;
}

#card0 {
    visibility: hidden;
    padding: 16px 16px;
    font-family: Verdana, sans-serif;
}

.btn {
    padding: 3px 3px;
    border-radius: 12px;
    font-size: 16px;
}